src/test/resources/xsd/Countries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Countries">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country" type="countryType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="countryType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Capital" type="xs:string"/>
            <xs:element name="TLD" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>